/* ////////////////////////////////////////////////////////////////////// */

/*
//
// CSS For project pages
//
*/

/* ////////////////////////////////////////////////////////////////////// */



/* Extra Small (xs) devices (50px and up) */
@media (min-width: 50px) 
{ 
  .col-xs-12 { 
    height: 150px;
    }

    .main-size-container {
      width: 100%;
  }
}

/* Small (sm) devices (576px and up) */
@media (min-width: 576px) 
{ 
  .col-sm-12 { 
    height: 200px;
    }

    .main-size-container {
      width: 70%;
  }
}

/* Large (md) devices (768px and up) */
@media (min-width: 768px) 
{ 
  .col-md-12 { 
    height: 250px;
    }

    .main-size-container {
      width: 70%;
  }
}

/* Large (lg) devices (992px and up) */
@media (min-width: 992px) 
{ 
  .col-lg-12 { 
    height: 300px;
    }

    .main-size-container {
      width: 70%;
  }
}

/* Extra Large (xl) devices (1200px and up) */
@media (min-width: 1200px) 
{ 
  .col-xl-12 { 
    height: 300px;
    }

    .main-size-container {
      width: 70%;
  }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* ////////////////////////////////////////////////////////////////////// */

.title-top {
  color: #778899;
  background-color: #1d1919;

  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;

  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 20px;
}

.title-top hr {
  border-top: 2px solid #575757;
}

/* ////////////////////////////////////////////////////////////////////// */

.carousel-item {
  max-height: 500px;
  text-align:center;
  background-color:black;
}

.project-bottom {
  color: #778899;
  background-color: #1d1919;

  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 20px;
}

/* ////////////////////////////////////////////////////////////////////// */

.bullet-point-image {
  margin-bottom: 3px;
  margin-right: 6px; 
  width: 13px; 
  height: 13px;
}

/* ////////////////////////////////////////////////////////////////////// */

.project-info-container {
  border-radius: 20px;

  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #111111;
}

.project-desc-container {
  width: 95%;
  margin: auto;
  text-align: left;
  padding-bottom: 15px; 
}

.project-infoButton-container {
  border-radius: 20px;

  width: 100%; 
  margin-top: -18px; 
  padding-top: 15px; 
  padding-bottom: 15px; 
  background-color: #111111;
}

/* ////////////////////////////////////////////////////////////////////// */

.project-name-title {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-name-title hr {
  border-top: 2px solid #575757;
}

.info-img {
  border-radius:5px;
  margin-bottom: -5px;
  width: 60%;
}

.linkable-img {
  width: 100%;
  margin-bottom: 10px;
}

.info-links-btn {
  height: 100%;
  width: 100%;

  font-size: large;
  font-weight: bold;

  border-left: 3px solid #575757;
  border-right: 3px solid #575757;
  border-bottom: 3px solid #575757;
  border-top: 3px solid #575757;
  border-radius: 20px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.dropshadow {
  box-shadow: 10px 10px 2px #1a1a1a;
}

.video-container {
  width: 60%;
  object-fit: cover !important;
  border-radius: 8px !important;
}

/* ////////////////////////////////////////////////////////////////////// */