/* ////////////////////////////////////////////////////////////////////// */

/*
//
// CSS For Resume Page
//
*/

/* ////////////////////////////////////////////////////////////////////// */



/* Extra Small (xs) devices (50px and up) */
@media (min-width: 50px) 
{ 
  .scaled-resume-size {
    width: 100%; 
    height: 790px;
  }

  .mobile-seperator {
    height: 180px;
  }
}


@media (min-width: 430px) 
{ 
  .scaled-resume-size {
    width: 100%; 
    height: 790px;
  }

  .mobile-seperator {
    height: 0px;
  }
}

/* Small (sm) devices (576px and up) */
@media (min-width: 576px) 
{ 
  .scaled-resume-size {
    width: 100%; 
    height: 790px;
  }
  
  .mobile-seperator {
    height: 0px;
  }
}

/* Large (md) devices (768px and up) */
@media (min-width: 768px) 
{ 
  .scaled-resume-size {
    width: 100%; 
    height: 790px;
}

  .mobile-seperator {
    height: 0px;
  }
}

/* Large (lg) devices (992px and up) */
@media (min-width: 992px) 
{ 
  .scaled-resume-size {
    width: 100%; 
    height: 790px;
  }
  
  .mobile-seperator {
    height: 0px;
  }
}

/* Extra Large (xl) devices (1200px and up) */
@media (min-width: 1200px) 
{ 
    .scaled-resume-size {
      width: 100%; 
      height: 790px;
  }
  
  .mobile-seperator {
    height: 0px;
  }
}

/* ////////////////////////////////////////////////////////////////////// */

.linkable-img
{
  float: left;
  width: 50px;
  height: 50px;
}


.linkable-text
{
  padding-top: 14px;
  padding-left: 60px;
  padding-right: 10px;
  text-align: left;
}

.info-links-btn
{
  height: 100%;

  float: left;

  font-size: large;
  font-weight: bold;

  border-left: 3px solid #575757;
  border-right: 3px solid #575757;
  border-bottom: 3px solid #575757;
  border-top: 3px solid #575757;
  border-radius: 20px;

  margin: -5px;
}

/* ////////////////////////////////////////////////////////////////////// */