/* ////////////////////////////////////////////////////////////////////// */

/*
//
// CSS For project pages
//
*/

/* ////////////////////////////////////////////////////////////////////// */

/* Extra Small (xs) devices (50px and up) */
@media (min-width: 50px) 
{ 
  .scaled-hobby-text
  {
    font-size: 9px;
  }

  .hobby-img
  {
    height: 22px;
    width: 22px;
  }
}

/* Small (sm) devices (576px and up) */
@media (min-width: 576px) 
{ 
  .scaled-hobby-text
  {
    font-size: 10px;
  }

  .hobby-img
  {
    border-radius:5px;
    height: 30px;
    width: 30px;
  }
}

/* Large (md) devices (768px and up) */
@media (min-width: 768px) 
{ 
  .scaled-hobby-text
  {
    font-size: 14px;
  }

  .hobby-img
  {
    border-radius:5px;
    height: 40px;
    width: 40px;
  }
}

/* Large (lg) devices (992px and up) */
@media (min-width: 992px) 
{ 
  .scaled-hobby-text
  {
    font-size: 18px;
  }

  .hobby-img
  {
    border-radius:5px;
    height: 60px;
    width: 60px;
  }
}

/* Extra Large (xl) devices (1200px and up) */
@media (min-width: 1200px) 
{ 
  .scaled-hobby-text
  {
    font-size: 20px;
  }

  .hobby-img
  {
    border-radius:5px;
    height: 60px;
    width: 60px;
  }
}

/* ////////////////////////////////////////////////////////////////////// */


.about-main
{
  color: lightslategray;
  background-color: #1d1919;
  margin-top: 20px;
  border-radius: 5px;
}

.about-pfp
{
  color: lightslategray;
  background-color: #1d1919;

  margin-bottom: 30px;
  border-radius: 5px;

  height: 340px;
}

.about-hobbies
{
  color: lightslategray;
  background-color: #1d1919;

  margin-bottom: 30px;
  border-radius: 5px;

  height: 340px;
}




.about-main hr
{
  border-top: 2px solid #575757;
  align-self: center;
}
.about-hobbies hr
{
  border-top: 2px solid #575757;
}

.thin-border
{
  border-left: 1pt solid black;
  border-right: 1pt solid black;
  border-bottom: 1pt solid black;
  border-top: 1pt solid black;
}



.dropshadow
{

  box-shadow: 10px 10px 2px #1a1a1a;
}

.pfp-img
{


  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);


  align-self: center;
  width: 85%;
}

.desc-text-container
{
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* ////////////////////////////////////////////////////////////////////// */