/* ////////////////////////////////////////////////////////////////////// */

/*
//
// CSS For project pages
//
*/

/* ////////////////////////////////////////////////////////////////////// */

.subtitle-text
{
  text-align: bottom;
  justify-content: bottom;
}


.skill-cards
{

min-width: 100%;

  color: lightslategray;
  background-color: #1d1919;

  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;

  margin-top: 20px;
}
.skill-cards-image
{
  align-self: center;
  height: 200px;
  width: 200px;;
}
.skill-cards-header
{
  color: lightslategray;
  background-color: #282828;

  padding-bottom: 0px;   
  padding-top: 6px;

  height:  45px;
  max-height: 45px;


  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius:5px;
}
.skill-cards-body
{
  color: lightslategray;
  background-color: #282828;


  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius:5px;
}

/* ////////////////////////////////////////////////////////////////////// */

.about-me
{
  color: lightslategray;
  background-color: #282828;

}
.about-me hr
{
  border-top: 2px solid #575757;
  width: 300px;
}

.project-snapshots-upper
{
  color: lightslategray;
  background-color: #1d1919;
  padding-top: 20px;
  padding-bottom: 20px;
  /*
  background: linear-gradient(#282828, #1d1919, #1d1919, #1d1919,  #1d1919, #1d1919, #282828);
  */

}
.project-snapshots-upper hr
{
  border-top: 2px solid #575757;
  
  width: 400px;
}

.skill-snapshots-upper
{
  color: lightslategray;
  background-color: #1d1919;

}
.skill-snapshots-upper hr
{
  border-top: 2px solid #575757;
  width: 400px;
}



/* ////////////////////////////////////////////////////////////////////// */

.carousel-item {
  height: 600px;
  width: 100%;
  text-align:center;
  background-color:black;
}

.slide-show {
  height: 100%;
  padding-bottom: 0;
}

/* ////////////////////////////////////////////////////////////////////// */

.project-icon
{
  height: 350px;
  border-radius:5px;
  border-left:5px;
}

.logo-text
{
  font-size: 1.5em;
}

.see-more-btn
{
  width: 60%; 
  font-size: xx-large;

  border-left: 4px solid #575757;
  border-right: 4px solid #575757;
  border-bottom: 4px solid #575757;
  border-top: 4px solid #575757;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
}

.padding-bottom
{
  padding-bottom: 25px;
}

/* ////////////////////////////////////////////////////////////////////// */

.tile-section
{
  margin-left: 0px;
  margin-right: 0px;
}

.tile-item
{
  height:350px;
  border:2.2px solid;
  border-color:#545454;
  border-radius:5px;
  position:relative;
  transition:all .25s ease-in-out;
  overflow:hidden
}
.tile-item:hover
{
  cursor:pointer;
  border-color:#ffffff
}

.tile-item-bg
{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:black;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  transition: all .25s ease-in-out
}
.tile-item-bg:hover
{
  transform:scale(1.1)
}

.tile-item-container
{
  max-width:350px;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  margin-bottom:30px;
  text-align:center;
  overflow:hidden
}

.tile-item-title-container
{
  width:100%;
  background-color:rgba(0,0,0,0.7);
  position:absolute;
  bottom:0;text-align:center;
  line-height:35px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  pointer-events:none;
  padding-bottom:12px;
  padding-top:12px
}
.tile-item-title
{
  font-family:'Quicksand',sans-serif;
  color:white;
  font-weight:100;
  font-size:30px
}

/* ////////////////////////////////////////////////////////////////////// */